<div class="row">
    <div class="col-md-6 text-center">
        <button class="btn btn-primary" (click)="toggleOnlineStatus()">Toggle Online Status</button>
        <p>Online Status: <span [ngClass]="{ 'text-success' : onlineStatus, 'text-danger'  : !onlineStatus }">{{ onlineStatus === true ? 'Online' : 'Offline' }} </span></p>
    </div>
    <div class="col-md-6 text-center">
        <button class="btn btn-primary" [disabled]="onlineStatus == false" (click)="toggleUserLoginStatus()">Toggle User Login Status</button>
        <p>User Status: <span [ngClass]="{ 'text-success' : loginStatus, 'text-danger'  : !loginStatus }">{{ loginStatus === true ? 'Online' : 'Offline' }}</span></p>
    </div>
</div>







