<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" routerLink="/">Angular Task</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" [ngClass]="{'nav-link-active' : route === '/task1n2' }" routerLink="/task1n2">Task 1 and 2
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [ngClass]="{'nav-link-active' : route === '/task3' }" routerLink="/task3">Task 3</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [ngClass]="{'nav-link-active' : route === '/task4' }" routerLink="/task4">Task 4</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [ngClass]="{'nav-link-active' : route === '/task5' }" routerLink="/task5">Task 5</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [ngClass]="{'nav-link-active' : route === '/task6' }" routerLink="/task6">Task 6</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>